
        <!-- Start Section Banner Area -->
        <div class="section-banner bg-1">
            <div class="container">
                <div class="banner-spacing">
                    <div class="section-info">
                        <h2 data-aos="fade-up" data-aos-delay="100">{{sectionOne!.title}}</h2>
                        <p data-aos="fade-up" data-aos-delay="200" [innerHTML]="sectionOne!.shortDescription"></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Section Banner Area -->

        <!-- Start About Us Area -->
        <div class="about-us-area ptb-100">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-12">
                        <div class="text-content" data-aos="fade-up" data-aos-delay="100">
                            <div class="sub-title">
                                <i class='bx bxs-graduation'></i> <p>{{sectionTwo!.pageSectionDetailsList[0]!.subTitle}}</p>
                            </div>
                             <h2 class="title-anim">{{sectionTwo!.pageSectionDetailsList[0]!.title}}</h2>
                            <p class="title-anim" [innerHTML]="sectionTwo!.pageSectionDetailsList[0]!.shortDescription"></p>
                            <!-- <a class="default-btn" href="schedule-tour.html">Schedule A Tour</a> -->
                        </div>
                    </div>

                    <div class="col-lg-7">
                        <div class="row justify-content-end">
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <div class="content" data-aos="fade-right" data-aos-delay="100">
                                <img [src]="sectionTwo!.pageSectionDetailsList[1]!.imageUrl != '' ? imageUrl + sectionTwo!.pageSectionDetailsList[1]!.imageUrl : 'assets/img/all-img/about-image.png'" alt="image">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6 col-md-6">
                                <div class="notice-content" data-aos="fade-right" data-aos-delay="200">
                                    <i class='bx bxs-quote-left'></i>
                                    <h4 class="title-anim">{{sectionTwo!.pageSectionDetailsList[1]!.title}}</h4>
                                    <p class="title-anim" [innerHTML]="sectionTwo!.pageSectionDetailsList[1]!.shortDescription"></p>
                                    <!-- <div class="author-info">
                                        <h5>Shivam Jaiswal</h5>
                                        <p>Co-Founder, Bhoomi Global Education Consultancy</p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End About Us Area -->

        <!-- Start Academics Area -->
        <div class="academics-area bg-color-1 ptb-100" >
            <div class="container">
                <div class="section-title" data-aos="fade-up" data-aos-delay="100">
                    <div class="sub-title">
                        <i class='bx bxs-graduation'></i> <p>{{sectionThree!.pageSectionDetailsList[0]!.subTitle}}</p>
                    </div>
                    <h2>{{sectionThree!.pageSectionDetailsList[0]!.title}}</h2>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="academics-item" data-aos="fade-up" data-aos-delay="100">
                            <img [src]="sectionThree!.pageSectionDetailsList[1]!.iconUrl != '' ? imageUrl +  sectionThree!.pageSectionDetailsList[1]!.iconUrl : 'assets/img/icon/education-1.png'" alt="icon">
                            <h4>{{sectionThree!.pageSectionDetailsList[1]!.title}}</h4>
                            <p [innerHTML]="sectionThree!.pageSectionDetailsList[1]!.shortDescription"></p>
                            <!-- <a href="the-campus-experience.html">Learn More <i class='bx bx-right-arrow-alt'></i></a> -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="academics-item active" data-aos="fade-up" data-aos-delay="200">
                            <img [src]="sectionThree!.pageSectionDetailsList[2]!.iconUrl != '' ? imageUrl +  sectionThree!.pageSectionDetailsList[1]!.iconUrl : 'assets/img/icon/education-2.png'" alt="icon">
                            <h4>{{sectionThree!.pageSectionDetailsList[2]!.title}}</h4>
                            <p [innerHTML]="sectionThree!.pageSectionDetailsList[2]!.shortDescription">
                            </p>
                            <!-- <a href="the-campus-experience.html">Learn More <i class='bx bx-right-arrow-alt'></i></a> -->
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-md-6">
                        <div class="academics-item" data-aos="fade-up" data-aos-delay="300">
                            <img [src]="sectionThree!.pageSectionDetailsList[3]!.iconUrl != '' ? imageUrl + sectionThree!.pageSectionDetailsList[3]!.iconUrl : 'assets/img/icon/education-3.png'" alt="icon">
                            <h4>{{sectionThree!.pageSectionDetailsList[3]!.title}}</h4>
                            <p [innerHTML]="sectionThree!.pageSectionDetailsList[3]!.shortDescription"></p>
                            <!-- <a href="the-campus-experience.html">Learn More <i class='bx bx-right-arrow-alt'></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Academics Area -->
       
        <!-- Start Campus Tour Area -->
        <div class="campus-tour">
            <div class="container-fluid p-0">
                <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
                    <div class="col-lg-6">
                        <div class="content" data-aos="fade-up" data-aos-delay="100">
                            <div class="sub-title">
                                <i class='bx bxs-graduation'></i> <p>{{sectionFour!.pageSectionDetailsList[0]!.subTitle}}</p>
                            </div>
                            <h2>{{sectionFour!.pageSectionDetailsList[0]!.subTitle}}</h2>

                            <p [innerHTML]="sectionFour!.pageSectionDetailsList[0]!.shortDescription"></p>
                        
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image cp-bg-1" data-aos="fade-zoom-in" data-aos-delay="100">
                            <img [src]="sectionFour!.pageSectionDetailsList[0]!.imageUrl != '' ? imageUrl + sectionFour!.pageSectionDetailsList[0]!.imageUrl : 'assets/img/icon/education-1.png'" alt="image">
                        </div>
                    </div>
                </div>
                <div class="row g-0 align-items-center">
                    
                    <div class="col-lg-6">
                        <div class="image cp-bg-2" data-aos="fade-zoom-in" data-aos-delay="100">
                            <img [src]="sectionFour!.pageSectionDetailsList[1]!.imageUrl != '' ? imageUrl + sectionFour!.pageSectionDetailsList[1]!.imageUrl : 'assets/img/icon/education-1.png'" alt="image">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content" data-aos="fade-up" data-aos-delay="100">
                            <div class="sub-title">
                                <i class='bx bxs-graduation'></i> <p>{{sectionFour!.pageSectionDetailsList[1]!.subTitle}}</p>
                            </div>
                            <h2>{{sectionFour!.pageSectionDetailsList[1]!.title}}</h2>

                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm tem incid idunt ut labore et magna aliqua.</p> -->
                            <p [innerHTML]="sectionFour!.pageSectionDetailsList[1]!.shortDescription"></p>
                        </div>
                    </div>
                </div>
                <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
                    <div class="col-lg-6">
                        <div class="content" data-aos="fade-up" data-aos-delay="100">
                            <div class="sub-title">
                                <i class='bx bxs-graduation'></i> <p>{{sectionFour!.pageSectionDetailsList[2]!.subTitle}}</p>
                            </div>
                            <h2>{{sectionFour!.pageSectionDetailsList[2]!.title}}</h2>

                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm tem incid idunt ut labore et magna aliqua.</p> -->
                            <p [innerHTML]="sectionFour!.pageSectionDetailsList[2]!.shortDescription"></p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image cp-bg-3"  data-aos="fade-zoom-in" data-aos-delay="100">
                            <img class="full-size" [src]="sectionFour!.pageSectionDetailsList[2]!.imageUrl != '' ? imageUrl + sectionFour!.pageSectionDetailsList[2]!.imageUrl : 'assets/img/icon/education-1.png'" alt="image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Campus Tour Area -->